---
name: Deploy Apps
on:
  # push:
  #   branches:
  #     - "main"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  preDeploy:
    name: Setting up for Deploy
    runs-on: ubuntu-latest
    outputs:
      android_deploy_flag: ${{ steps.id_out.outputs.android_deploy_flag }}
      android_package_name: ${{ steps.id_out.outputs.android_package_name }}
      android_environment_url: ${{ steps.id_out.outputs.android_environment_url }}
      android_track: ${{ steps.id_out.outputs.android_track }}
      android_release_name: ${{ steps.id_out.outputs.android_release_name }}
      android_deploy_status: ${{ steps.id_out.outputs.android_deploy_status }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: read-config-file
        uses: actions-tools/yaml-outputs@v2
        id: read_config_yaml
        with:
          file-path: "${{ github.workspace }}/config.yml"

      - id: id_out
        run: |
          echo "android_deploy_flag=${{ steps.read_config_yaml.outputs.build__android_build_flag }}" >> $GITHUB_OUTPUT
          echo "android_package_name=${{ steps.read_config_yaml.outputs.android_deploy__android_package_name }}" >> $GITHUB_OUTPUT
          echo "android_environment_url=${{ steps.read_config_yaml.outputs.android_deploy__android_environment_url }}" >> $GITHUB_OUTPUT
          echo "android_track=${{ steps.read_config_yaml.outputs.android_deploy__android_track }}" >> $GITHUB_OUTPUT
          echo "android_release_name=${{ steps.read_config_yaml.outputs.android_deploy__android_release_name }}" >> $GITHUB_OUTPUT
          echo "android_deploy_status=${{ steps.read_config_yaml.outputs.android_deploy__android_deploy_status }}" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy Android Build
    needs: preDeploy
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v14
        with:
          workflow: release_workflow.yml
          workflow_conclusion: success
          search_artifacts: true
          name: android-release

      - name: Release Build to internal track
        uses: r0adkll/upload-google-play@v1
        with:
          releaseFiles: app-release.aab
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: "co.za.zanderkotze.multichoice"
          track: "internal"
          releaseName: "v1.0.0"
          status: "draft"
