name: Linting and Analysis

on:
  pull_request:
    types: 
      - opened
      - synchronize
      - reopened
    branches: 
      - '**'
  workflow_dispatch:

concurrency:
  group: linting-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter-with-java
        with:
          setup_java: "false"

      - name: Run Melos Analyze
        run: melos analyze
        shell: bash
