name: SonarCloud analysis

on:
  pull_request:
    branches: [ "develop", "rc",  "main" ]
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  sonarcloud:
    name: Set up and Run SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Flutter and Java
        uses: ./.github/actions/setup-flutter-with-java

      - name: Run tests and generate coverage
        run: melos coverage:all

      - name: Merge coverage reports
        run: |
          mkdir -p coverage
          cat apps/multichoice/coverage/lcov.info packages/core/coverage/lcov.info > coverage/lcov.info
          cat coverage/lcov.info

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
